<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuer.acgblog.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.wuer.acgblog.domain.Blog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="TIME" jdbcType="TIMESTAMP" property="time" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="AUTHOR" jdbcType="VARCHAR" property="author" />
    <result column="PICTURE" jdbcType="VARCHAR" property="picture" />
    <result column="CONTENT" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>